@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;

}

#breakout {
  display: block;
  margin: 0 auto;
  transform: translateY(15%);
  background: #eee;
}

.connection-info {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 18px;
}
.connection-info span {
  color: rgb(245, 0, 61);
}
